{% extends "base.html.twig" %}

{% block title 'Gérer les articles de Blog' %}  


{% block body %}
    <div class="container mt-4">

        <h1>Gérer les articles</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


    <table class="table table-striped">
        <thead>
         <tr>
          <th>Titre</th>
          <th>Actions</th>
         </tr>
        </thead>
        <tbody>
        {% for article in articles %}
         <tr>
          <td>{{ article.title }}</td>
           <td>
            <a href="{{ path('pages.adminpages.edit', {id: article.id}) }}" class="btn btn-success">Editer</a>
            <form method="POST" action="{{ path('pages.adminpages.delete', {id: article.id}) }}" style="display: inline-block" 
            onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                <button class="btn btn-danger">Supprimer</button>
            </form> 
          </td>
         </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
    <a href="{{ path('pages.adminpages.new') }}" class="btn btn-primary">Créer un article</a>
    </div>

</div>    
{% endblock %}