{% extends "base.html.twig" %}

{% block title 'Contacter Vitis Epicuria' %} 

{% block body %}
    <div class="jumbotron txt-center text-center">
        <h1>{% trans %}Une question ? Contactez-nous !{% endtrans %}</h1> 
        <p>{% trans %}Une personne de chez Vitis Epicuria vous répondra rapidement du lundi au vendredi de 9h00 à 17h00.{% endtrans %}</p>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {% trans %}Erreur lors de l'envoi du message.{% endtrans %}
        </div>
    {% endif %}

    <section id="covercontact" class="min-vh-80">
    <div id="cover-caption">
    <div id="contactForm" class="col-md-12 mt-4">
        {{ form_start(form) }}
            <div class="row">
             <div class="col">{{ form_row(form.firstname) }}</div>
             <div class="col">{{ form_row(form.lastname) }}</div>
            </div>
            <div class="row">
             <div class="col">{{ form_row(form.phone) }}</div>
             <div class="col">{{ form_row(form.email) }}</div>
            </div>
            {{ form_rest(form) }}
            <div class="form-group">
                <button class="btn btn-primary">{% trans %}Envoyer{% endtrans %}</button>
            </div>
        {{ form_end(form) }}
    </div></br>
    </div>
    {% include 'pages/footer.html.twig' %}
{% endblock %}